@plugin "daisyui/theme" {
	name: 'luxury';
	default: true;
	prefersdark: true;
	color-scheme: 'dark';
	--color-base-100: oklch(14% 0 0);
	--color-base-200: oklch(14% 0 0);
	--color-base-300: oklch(42% 0.095 57.708);
	--color-base-content: oklch(98% 0.003 247.858);
	--color-primary: oklch(70% 0.213 47.604);
	--color-primary-content: oklch(98% 0.003 247.858);
	--color-secondary: oklch(44% 0.177 26.899);
	--color-secondary-content: oklch(85.516% 0.012 261.069);
	--color-accent: oklch(70% 0.183 293.541);
	--color-accent-content: oklch(87.334% 0.01 338.825);
	--color-neutral: oklch(45% 0.188 13.697);
	--color-neutral-content: oklch(98% 0.003 247.858);
	--color-info: oklch(79.061% 0.121 237.133);
	--color-info-content: oklch(15.812% 0.024 237.133);
	--color-success: oklch(78.119% 0.192 132.154);
	--color-success-content: oklch(15.623% 0.038 132.154);
	--color-warning: oklch(86.127% 0.136 102.891);
	--color-warning-content: oklch(17.225% 0.027 102.891);
	--color-error: oklch(58% 0.253 17.585);
	--color-error-content: oklch(14.35% 0.035 22.568);
	--radius-selector: 0.25rem;
	--radius-field: 0.25rem;
	--radius-box: 0.25rem;
	--size-selector: 0.21875rem;
	--size-field: 0.21875rem;
	--border: 1.5px;
	--depth: 1;
	--noise: 0;
}
